@font-face {
  font-family: 'fonts/RobotoItalic';
  src: url('fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
       url('fonts/Roboto/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fonts/RobotoLight';
  src: url('fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
       url('fonts/Roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fonts/RobotoMedium';
  src: url('fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('fonts/Roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
