@font-face {
  font-family: 'RobotoItalic';
  src: font-url('Roboto/roboto-italic-webfont.woff2') format('woff2'),
       font-url('Roboto/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: font-url('Roboto/roboto-light-webfont.woff2') format('woff2'),
       font-url('Roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: font-url('Roboto/roboto-medium-webfont.woff2') format('woff2'),
       font-url('Roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
