$font-families: (
  roboto-regular: ("robotoRegular", sans-serif),
  roboto-medium: ("robotoMedium", sans-serif),
  roboto-light: ("robotoLight", sans-serif),
  roboto-italic: ("robotoItalic", sans-serif)
);
